@import "settings";
@import "foundation";
@import "oocss/_spacing";

body {
	background-color: #231f20;
	color: #fff;
	margin: 0 auto;
	padding: 0;
}

#ribbon {
	img {
		position: absolute;
		right: 0;
		border: 0;
	}
}

h1 {
	text-align: center;
	color: #fff;
}

h1,
#because {
	border: 1px solid #fff;
	text-align: center;
}

span {
	font-size: 11px;
	list-style-type: none;

	&:after {
		content: " ∙ ";
	}
}

div.fb-like {
	position: absolute;
	top: -15px;
	right: 10px;
}
