@import "settings";
@import "foundation";

body {
	width: 500px;
	background-color: #231f20;
	color: #fff;
	margin: 0 auto;
	padding: 0;
}

#ribbon {
	img {
		position: absolute;
		top: -10px;
		right: 0;
		border: 0;
	}
}

h1 {
	text-align: center;
	color: #fff;
}

h1,
div {
	border: 1px solid #fff;
	margin: 10px;
	padding: 10px 10px;
	text-align: center;
}

span {
	font-size: 11px;
	list-style-type: none;
	margin: 0;
	padding: 0;

	&:after {
		content: " ∙ ";
	}
}
